:root {
  --primary: #392759;
  --secondary: #7e8287;
  --dark: #383644;
  --white: #e2e4e2;
  --accent: #523880;
  --text: #251a38;
}

body,
.lead {
  color: var(--text);
  font-family: ff-karbid-text-web-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#sagas {
  color: var(--accent);
}

.logo-font {
  font-family: neplus, serif;
  font-weight: 900;
  font-style: normal;
}

nav {
  background: var(--primary);
}

.btn-link {
  color: var(--secondary);
  text-decoration: none;
}

.btn-link:hover {
  background: var(--primary);
  color: var(--white);
}
footer {
  background-color: var(--primary);
  padding: 1rem;
}

footer .social > a {
  color: var(--white);
  opacity: 0.75;
}

footer .social > a:hover {
  color: var(--secondary);
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: nobel, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
}
.bsicon {
  color: rgb(85, 60, 123);
}

.jsicon {
  color: rgb(247, 233, 30);
}

.html5icon {
  color: rgb(227, 76, 38);
}

.css3icon {
  color: rgb(38, 77, 228);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

.checklist > li i {
  color: var(--secondary);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
